* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}


.button1:hover {
  background: lightgreen;
}

.deleteButton:hover {
  background: lightpink;
}

.backButton:hover {
  background: lightblue;
}